.absurb{
    background-color: black;
}

.text1{
    color: white;
    /* border: 2px solid green; */
    margin-top: 80px;
    text-align: center;
    
    padding: 40px;
    
}

.container{
    /* border: 2px solid red; */
    height: 40vh;
    width: 170vh;
    padding: 40px;
    margin: 20px 120px;
    background-color: blueviolet;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.number-input{
    height: 30px;
    font-size: 20px;
}

.submit{
    height: 30px;
    font-size: 20px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .text1{
        /* border: 2px solid green; */
        height: 60px;
        width: 470px;
        padding-left: 90px;
        font-size: 35px;
        text-align: center;
    }

    .container{
        height: 90vh;
        width: 60vh;
        margin-top: 30px;
        margin-left: 0px;
        font-size: 25px;
    }

    .number-input{
        height: 60px;
        font-size: 40px;
    }

    .submit{
        height: 60px;
        font-size: 40px;
        margin-top: 20px;
        margin-left: 180px;
    }
}